*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    
}
#container{

width: 1200px;
height: 800px;
background: #848484;
margin: 5%;

}

#aside{

width: 24%;
height: 80%;;
background: #424242;
margin: 1em;
border-color: black;
float:right;
border-style: double;
}

#section{

    width: 70%;
    height: 80%;
    margin: 1em;
    border-color: #d12f2f;
    border-style: double;
    float: left;

}

.articulo{
    width: 95%;
    height: 33%;
    background: #424242;
    margin: 1em;
    float: none;
    


}

.contenido-articulo{

    width: 68%;
    height: 85%;
    margin: 1em;
    background: #848484;
    float: left;

}
.imagen-articulo{

    width: 23%;
    height: 85%;
    margin: 1em;
    background: #848484;
    float: right;


}

#aling-center{
 
    align-items: center;

}

#site-socials .socials{
		width:100%;
		padding: 15px 10px;
	}
#site-socials .socials a.social{
		font-size:1.5em;
		color:black;
		margin:15px auto;
		width:40px;
		height:40px;
		display: inline-block;
		line-height: 40px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius:50%;
		background:#81BEF7;
 
		
		position: relative;
		
		text-align: center;
	}
#site-socials .socials a.social:hover{
		background:#222;
		color:white;
	}


